.input-group{
    width: 100%
}
.main-footer {
    width:100%;
}
.main-sidebar{
    position: fixed;
}

.direct-chat-messages{
    height: 64vh
}

.text-area{
    width: 100% !important;
    height: 100px !important;
}
