.input-group{
    width: 100%
}
.main-footer {
    position: fixed;
    bottom:0px;
    width:100%;
}
.main-sidebar{
        position: fixed;
}

.direct-chat-messages{
    height: 350px
}

.text-area{
    width: 100% !important;
    height: 100px !important;
}